@model WelcomeScreen.Models.WelcomeVisitHist

@{
    ViewBag.Title = "Korábbi látogatás részletes adatai";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>*@
    </dl>
</div>
<p>
    @Html.ActionLink("Vissza a listára", "Index")
</p>

<hr>
<h3>A látogatás résztvevői voltak:</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuestVisitHists[0].Guest.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestVisitHists[0].Guest.Company.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestVisitHists[0].Guest.Rank.Rank)
        </th>
        <th></th>
    </tr>

    @foreach (var gv in Model.GuestVisitHists)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => gv.Guest.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gv.Guest.Company.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => gv.Guest.Rank.Rank)
            </td>
            <td>
                @if (gv.Guest.Deleted)
                {
                    <span>* Törölt *</span>
                }
            </td>

        </tr>
    }

</table>