@model WelcomeScreen.Models.WelcomeVisit

@{
    ViewBag.Title = "Látogatás törlése";
}

<h2>@ViewBag.Title</h2>

<h3>Biztosan szeretnéd törölni?</h3>
<div class="form-horizontal">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-2">
                <a href='@Url.Action("Index")' class="btn btn-default">
                    &laquo; <img src="~/Images/list.png" height="21" /> Vissza a listára
                </a>
            </div>
            <div class="col-md-10">
                <input type="submit" value="Törlés" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
